<template>
    <div>
        <form @submit.prevent="store">
            <div class="form-group">
                <input class="form-control" placeholder="Type text here" v-model="newTodo">
            </div>
        </form>

        <button class="btn btn-primary remove-completed"
                @click="removeCompleted"
                :class="{disabled: completed.length == 0}"
                :disabled="completed.length == 0">Delete completed</button>

        <ul class="list-group todo-list" v-show="todos.length">
            <li v-for="todo in todos | orderBy 'id' -1" class="list-group-item" :class="{completed: todo.completed, editing: todo == editedTodo}">
                <div class="insert clearfix">
                    <input class="toggle" type="checkbox" v-model="todo.completed" @change="updateCompleted(todo)">
                    <label @dblclick="edit(todo)">{{todo.body}}</label>
                    <button class="pull-right btn btn-xs btn-danger remove" @click="destroy(todo)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
                <input class="edit form-control" type="text"
                    v-model="todo.body"
                    v-focus="todo == editedTodo"
                    @keyup.enter="update(todo)"
                    @keyup.esc="cancelEdit(todo)">
            </li>
        </ul>

        <div class="label label-success" v-show="remaining.length">{{ remaining.length }} {{ remaining.length | pluralize 'item' }} left</div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                newTodo: '',
                editedTodo: null,
                todos: [],
            }
        },

        ready() {
            this.get();
        },

        computed: {
            remaining() {
                return this.todos.filter(function(todo){
                    return ! todo.completed;
                });
            },
            completed() {
                return this.todos.filter(function(todo){
                    return todo.completed;
                });
                /*var result = [];
                var todos = this.todos;
                _.forEach(todos, function(todo, key) {
                    if(todo.completed) {
                        result.push(todo);
                    }
                });
                console.log(result);
                return result;*/
            },
        },

        methods: {
            get() {
                this.$http.get('todos').then(function(response) {
                    this.$set('todos', response.data);
                });
            },
            store() {
                var todo = {
                    body: this.newTodo && this.newTodo.trim(),
                    completed: 0
                }
                if(!todo.body) {
                    return;
                }
                this.$http.post('todos', todo).then(function(response) {
                    todo.id = response.data.id;
                    this.todos.push(todo);
                    this.newTodo = '';
                });
            },
            edit(todo) {
                this.oldBody = todo.body;
                this.editedTodo = todo;
            },
            update(todo) {
                if (!this.editedTodo || this.oldBody == todo.body) {
                    this.editedTodo = null;
                    return;
                }

                todo.body = todo.body.trim();
                if (!todo.body) {
                    return this.destroy(todo);
                }
                var id = todo.id;
                this.$http.patch('todos/' + id, todo).then(function(response) {
                    this.editedTodo = null;
                    todo.body = todo.body.trim();
                });
            },
            updateCompleted(todo) {
                var id = todo.id;
                this.$http.patch('todos/' + id, todo);
            },
            destroy(todo) {
                var id = todo.id;
                return this.$http.delete('todos/'+ id).then(function(response) {
                    this.todos.$remove(todo);
                });
            },
            cancelEdit(todo) {
                this.editedTodo = null;
                todo.body = this.oldBody;
            },

            removeCompleted() {
                if( !confirm("Are you sure?") ) return;
                var todos = this.completed;
                this.$http.delete('todos/destroy/completed', {todos: todos}).then(function(data) {
                    this.$set('todos', this.remaining);
                });
            }
        },

        directives: {
            'focus': function(value) {
                if (!value) {
                    return;
                }
                var el = this.el;
                Vue.nextTick(function () {
                    el.focus();
                });
            }
        }
    }
</script>

<style>
.todo-list .toggle {
    margin-top: 0;
}
.todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list li .remove {
    display: none;
}

.todo-list li:hover .remove {
    display: block;
}

.todo-list li .edit {
    display: none;
}

.todo-list li.editing .insert {
    display: none;
}

.todo-list li.editing .edit {
    display: block;
}

.remove-completed {
    margin-bottom: 20px;
}
</style>