<template>
    <div>
        <div class="jumbotron">
            <h1 class="h3">Todos App</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas metus felis, quis ultricies ligula bibendum sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vitae justo tincidunt, placerat purus eget, vehicula nisi. Cras velit orci, efficitur sed laoreet efficitur, dictum a justo. Cras imperdiet urna ultricies velit accumsan, vitae semper neque fringilla. Nam in diam augue. Sed viverra rhoncus metus, quis semper urna tempor id. Sed at commodo eros. Aenean vel semper ligula. Nam eget hendrerit sem. Vestibulum feugiat, nibh a suscipit tempor, purus est vehicula velit, sit amet iaculis orci magna ut neque. Aliquam ultricies laoreet enim a commodo. Sed a scelerisque augue, ut ultrices eros. Vivamus eget massa nisl. Etiam eget lorem tristique ex facilisis ultricies quis vel diam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas metus felis, quis ultricies ligula bibendum sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vitae justo tincidunt, placerat purus eget, vehicula nisi. Cras velit orci, efficitur sed laoreet efficitur, dictum a justo. Cras imperdiet urna ultricies velit accumsan, vitae semper neque fringilla. Nam in diam augue. Sed viverra rhoncus metus, quis semper urna tempor id. Sed at commodo eros. Aenean vel semper ligula. Nam eget hendrerit sem. Vestibulum feugiat, nibh a suscipit tempor, purus est vehicula velit, sit amet iaculis orci magna ut neque. Aliquam ultricies laoreet enim a commodo. Sed a scelerisque augue, ut ultrices eros. Vivamus eget massa nisl. Etiam eget lorem tristique ex facilisis ultricies quis vel diam.</p>
    </div>
</template>