html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }
  body > .container {
    padding-top: 80px;
    padding-bottom: 60px; }

[v-cloak] {
  display: none; }

.view {
  transition: all .5s ease; }

.transition-enter,
.transition-leave {
  opacity: 0;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0); }

.toggle {
  vertical-align: middle; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  line-height: 60px; }

/*# sourceMappingURL=app.css.map */
