<template>
    <site-header></site-header>
    <div class="container">
        <router-view class="view" transition="transition" transition-mode="out-in" keep-alive></router-view>
    </div>
    <site-footer></site-footer>
</template>

<script>
    import siteHeader from './components/layouts/site-header/index.vue';
    import siteFooter from './components/layouts/site-footer/index.vue';

    export default {
        components: { siteHeader, siteFooter },

        replace: false
    }
</script>